/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .single-ins-mang {
        display: inline-block;
        margin-right: 15px;
    }

    .img-box {
        width: 29%;
    }

    .footer-contacts ul li a {
        font-size: 14px;
    }

    .footer-rec-notice .news-time {
        font-size: 12px;
    }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .logo img {
        width: 100%;
    }

    .slider-bg {
        min-height: 230px;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {

    .logo img {
        width: 100%;
    }

    .email {
        display: block;
    }

    .phone {
        margin-bottom: 10px;
        display: block;
    }

    .latest-news-area {
        margin-top: -109px;
    }

    .img-box {
        width: 29%;
    }

    .main-menu .navbar-nav .nav-item.active::before {
        display: none;
    }

    .main-menu .navbar-nav {
        margin-top: 10px;
    }

    .main-menu .navbar-nav .nav-link {
        border-bottom: 1px solid #6E0D11;
    }

    .main-menu .navbar-nav .nav-item a:hover {
        background-color: #6E0D11;
        color: #fff;
    }

    .main-menu .navbar-nav .nav-item.active {
        background-color: #A70F2B;
        transition: .3s;
        color: #fff;
    }

    .main-menu .navbar-nav li:last-child .nav-link {
        border: 0;
    }

    .menu-area {
        background: 0;
    }

    .main-menu .navbar-light .navbar-toggler {
        border: 0;
    }

    .single-ins-mang a {
        background: #81171B;
        color: #fff;
        font-weight: 700;
        border-radius: 3px;
        display: inline-block;
        transition: all .6s;
        width: 215px;
        height: 50px;
        margin-bottom: 10px;
        padding: 10px 0;
    }
    .single-ins-mang:last-child a {
        margin: 0;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

}
